panel:
  device: /dev/ttyUSB0
  baudrate: 1000
controller:
  device: /dev/ttyUSB1
  baudrate: 1000
# uncomment to link commands with a second pi
# link:
#   url: http://sevicontrol2
# uncomment to enable mqtt support
# mqtt:
#   url: hassio.local
#   port: 1883
#   user: whoami
#   passwd: secret