[Unit]
Description=SeviControl Service
Requires=sevi-control.socket
After=network.target

[Service]
PIDFile=/run/sevi-control/pid
User=sevictl
Group=sevictl
RuntimeDirectory=gunicorn
WorkingDirectory=/home/sevicontrol
ExecStart=/usr/bin/gunicorn3 --pid /run/sevi-control/pid  \
	--bind unix:/run/sevi-control/socket SeviControl:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
